@model Post

@{
    TimeSpan timeSpanSincePosted = DateTime.UtcNow.Subtract(Model.DateCreated);

    string displayTime = "";

    if (timeSpanSincePosted.TotalDays >= 1)
        displayTime = $"{timeSpanSincePosted.Days} day ago";
    else if (timeSpanSincePosted.TotalHours >= 1)
        displayTime = $"{timeSpanSincePosted.Hours} hours ago";
    else if (timeSpanSincePosted.TotalMinutes >= 1)
        displayTime = $"{timeSpanSincePosted} minutes ago";
    else
        displayTime = "Just now";
}

<div class="post">

    <div class="post-header">
        <a class="post-user">
            <img src="@(@Model.User.ProfilePictureUrl ?? "~/images/avatar/user.png")" alt="" class="post-user-img">

            <div class="post-user-title">
                <h4 class="post-user-name">@Model.User.FullName</h4>
                <h6 title="@Model.DateCreated.ToString()">@displayTime</h6>
            </div>
        </a>

        <div class="post-menu"></div>
    </div>

    <div class="post-body">

        <div class="post-body-text">@Model.Content</div>

        @if (!string.IsNullOrEmpty(@Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" class="post-img">
        }
    </div>

</div>